@model MoveisCatalog.Models.Movie
@*Delete page that can user delete a card from it*@
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
   
<div class="row " >
    <div class="col-md-4">
          
                    
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" readonly/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"readonly />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
          <div class="form-group">
       
          <label class="control-label"> @Html.DisplayNameFor(model => model.MovieCategory):</label>
       
       
           <p>@Html.DisplayFor(model => model.MovieCategory.Category)</p>
       
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" readonly/>
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" readonly />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

               
           
       
    </div>
           <div class="col-md-4 offset-4 text-center " style="margin-right=4%">
         <img src=" @Html.DisplayFor(model => model.Image)" width="100%" id="ImagePreview" />
         </div>
</div>


   <div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn" style="background-color: #961A00 ; color: white;" /> |
        <a asp-action="Index"class="btn" style="background-color: #961A00 ; color: white;">Back to List</a>
    </form>
</div>


