@{
    ViewData["Title"] = "Home Page";
}


           

            <div class="row">
                <div class="card" style="width: 15rem;  margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://media.newyorker.com/photos/5c882173b52af22cd6fe65c9/master/w_1920,c_limit/720318_ra623.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">The GodFather</h5>
                        <p class="card-text">The film stars Marlon Brando, Al Pacino, James Caan, Richard Castellano, Robert Duvall...</p>
                        <a href="https://en.wikipedia.org/wiki/The_Godfather" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem;  margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://flxt.tmsimg.com/assets/p7539_p_v13_af.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Scarface</h5>
                        <p class="card-text"> The film co-stars (Al Pacino) Steven Bauer, Michelle Pfeiffer, Mary Elizabeth Mastrantonio....</p>
                        <a href="https://en.wikipedia.org/wiki/Scarface_(1983_film)" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem;  margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/c/cd/Trumanshow.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Trumanshow</h5>
                        <p class="card-text"> The film stars Jim Carrey as Truman Burbank, a man who grew up living an ordinary life that....</p>
                        <a href="https://en.wikipedia.org/wiki/The_Truman_Show" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem; margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://1.bp.blogspot.com/-lgnFz0OFiPc/Wf2BBpvvXMI/AAAAAAAARcI/3HzQpG0oqA8z2AZHrxw96G-JXEmbLBuvwCLcBGAs/s1600/taxi-driver-1976-script.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Taxi Driver</h5>
                        <p class="card-text">The film stars Robert De Niro, Jodie Foster, Cybill Shepherd, Harvey Keitel, Peter Boyle....</p>
                        <a href="https://en.wikipedia.org/wiki/Taxi_Driver" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem; margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/4/49/Malcolmxdvdset.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Malcolm_X_</h5>
                        <p class="card-text">The film stars Denzel Washington in the title role, as well as Angela Bassett, Albert Hall....</p>
                        <a href="https://en.wikipedia.org/wiki/Malcolm_X_(1992_film)" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>


                <div class="card" style="width: 15rem;  margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/d/d0/Bad_boys_two.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body II">
                        <h5 class="card-title">Bad boys</h5>
                        <p class="card-text">Directed by Michael Bay, produced by Jerry Bruckheimer, and starring Martin Lawrence and Will Smith....</p>
                        <a href="https://en.wikipedia.org/wiki/Bad_Boys_II" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem;  margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/b/bf/Homefront_promotional_poster.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">HomeFront</h5>
                        <p class="card-text"> The film stars Jason Statham, James Franco, Winona Ryder, and Kate Bosworth.and Kate Bosworth.........</p>
                        <a href="https://en.wikipedia.org/wiki/Scarface_(1983_film)" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem; margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/8/83/90_Minutes_in_Heaven_%28film%29_poster.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">90 Minuts in Heaven</h5>
                        <p class="card-text"> Hayden Christensen, Kate Bosworth, Dwight Yoakam, Michael W. Smith,......</p>
                        <a href="https://en.wikipedia.org/wiki/Taxi_Driver" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>

                <div class="card" style="width: 15rem; margin-left: 5rem; margin-top: 5rem; padding-top: 10px;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/3/3c/JumanjiTheNextLevelTeaserPoster.jpg" class="card-img-top" alt="..." style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Jumanji</h5>
                        <p class="card-text"> It stars Dwayne Johnson, Jack Black, Kevin Hart, Karen Gillan, Nick Jonas, Alex Wolff, Morgan Turner.... </p>
                        <a href="https://en.wikipedia.org/wiki/Jumanji:_The_Next_Level" target="_blank" class="btn" style="background-color: #961A00 ; color: white;">Read More</a>
                    </div>
                </div>
            </div>
       